{% extends 'base.html.twig' %}

{% block title %} Conditions générales d'utilisation - Réalisation de visites immersives à 360° {% endblock %}


{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
<link rel="icon" type="image/png" href="{{ asset('img/inoca.png') }}"/>

{% endblock %}



{% block body %}

<script src="{{ asset('js/tata.js') }}"></script>


    {% for flash_message in app.session.flashbag.get('success') %}
        <script>
            tata.success("", "{{ flash_message }}", {
                duration: 3000,
                closeBtn: false,
                animate: "slide",    
            });
        </script>
    {% endfor %}


    {% for flash_message in app.session.flashbag.get('failed') %}
        <script>
            tata.error("", "{{ flash_message }}", {
                duration: 3000,
                closeBtn: false,
                animate: "slide",       
            });
        </script>
    {% endfor %}


<link rel="stylesheet" href="https://cdn.pannellum.org/2.5/pannellum.css"/>
<script type="text/javascript" src="https://cdn.pannellum.org/2.5/pannellum.js"></script>

<link href="https://vjs.zencdn.net/7.1.0/video-js.css" rel="stylesheet" type="text/css">
<script src="https://vjs.zencdn.net/7.1.0/video.js"></script>
 

<section class='Body-Section-White'>
    {% include 'tools/navbar.html.twig' %}

    <section class='Cadre'>

        <div class='Partie-Exemples-5'  style="text-align: left">

            <h1 class="h1-titre-page">Conditions générales d'utilisation</h1>



    <h3 style="margin-top: 60px; font-size: 15px;text-align: left; padding: 0px 55px;">1. Inscription et création de compte</h2>
    <p style="text-align: left">
        <strong>1.1</strong> Pour accéder au service, vous devez vous inscrire en remplissant le formulaire de demande de réservation. Vous garantissez que toutes les informations fournies lors de l'inscription sont exactes, complètes et à jour.
    </p>
    <p style="text-align: left">
        <strong>1.2</strong> Vous êtes responsable de maintenir la confidentialité de vos identifiants de connexion et vous êtes entièrement responsable de toutes les activités qui se produisent sous votre compte.
    </p>

    <h3 style="margin-top: 30px; font-size: 15px;text-align: left; padding: 0px 55px;">2. Droits et obligations des utilisateurs</h2>
    <p style="text-align: left">
        <strong>2.1</strong> Vous avez le droit d'utiliser le service conformément aux présentes conditions d'utilisation et aux lois en vigueur.
    </p>
    <p style="text-align: left">
        <strong>2.2</strong> Vous vous engagez à utiliser le service de manière légale, éthique et appropriée, en respectant les droits des autres utilisateurs et en vous abstenant de toute activité frauduleuse, abusive ou illégale.
    </p>

    <h3 style="margin-top: 30px; font-size: 15px;text-align: left; padding: 0px 55px;">3. Visites immersives et hébergement</h2>
    <p style="text-align: left">
        <strong>3.1</strong> lookaround vous livrera l'url vers la visite, puis les fichiers de votre visite virtuelle après la réception du paiement initial convenu pour la réalisation de celle ci.
    </p>

    <h3 style="margin-top: 30px; font-size: 15px;text-align: left; padding: 0px 55px;">4. Propriété intellectuelle</h2>
    <p style="text-align: left">
        <strong>4.1</strong> Vous conservez tous les droits de propriété intellectuelle sur le contenu que vous fournissez à lookaround pour la création de la visite immersive de votre site.
    </p>
    <p style="text-align: left">
        <strong>4.2</strong> En utilisant le service, vous accordez à lookaround une licence mondiale, non exclusive, transférable et libre de redevances pour héberger, reproduire et distribuer votre visite immersive à des fins de promotion et de marketing de lookaround.
    </p>


    <h3 style="margin-top: 30px; font-size: 15px;text-align: left; padding: 0px 55px;">5. Limitation de responsabilité</h2>
    <p style="text-align: left">
        <strong>5.1</strong> lookaround ne peut pas garantir que le service sera exempt d'interruptions, d'erreurs ou de défauts, mais nous nous efforcerons de fournir le service de manière diligente et professionnelle.
    </p>
    <p style="text-align: left">
        <strong>5.2</strong> Dans toute la mesure permise par la loi, lookaround décline toute responsabilité pour les dommages directs, indirects, accessoires, spéciaux ou consécutifs résultant de l'utilisation ou de l'incapacité d'utiliser le service.
    </p>
    <h3 style="margin-top: 30px; font-size: 15px;text-align: left; padding: 0px 55px;">6. Modifications des conditions d'utilisation</h2>
    <p style="text-align: left">
        <strong>6.1</strong> lookaround se réserve le droit de modifier ces conditions d'utilisation à tout moment. Les modifications prendront effet dès leur publication sur le site web de lookaround. Il est de votre responsabilité de consulter régulièrement les conditions d'utilisation pour être informé des éventuelles modifications.
    </p>



        </div>

    </section>

    {% include 'tools/footer.html.twig' %}
</section>




{% endblock %}