{% extends 'base.html.twig' %}

{% block title %} Admin DashBoard | lookaround {% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/style.css') }}">
<link rel="icon" type="image/png" href="{{ asset('img/inoca.png') }}">

{% endblock %}

{% block body %}

{% include 'tools/navbar.html.twig' %}


<h1 class="h1-titre-page"> Admin DashBoard</h1>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <form action="?" method="POST">
      <div class="g-recaptcha" data-sitekey="6LeDSIYpAAAAAAS_lfWUkH69nFF_GU1ui9b7vOiU"></div>
      <br/>
      <input type="submit" value="Submit">
    </form>


<h3 class='admin-titre-sections'>Toutes les commandes</h3>

<table class="dashBoard-table">
    <thead>
        <tr class="tr-dashBoard">
            <th>ID</th>
            <th>F.ID</th>
            <th>Prix</th>
            <th>Statut</th>
            <th>Date Order</th>
            <th>Créneau</th>
            <th>Préference</th>
            <th>Adresse RDV</th>
            <th>Lieu</th>
            <th>NB photos</th>
            <th>Aide iframe</th>
            <th>Date Pay</th>
            <th>Date OpenPay</th>
            <th>HELP</th>
        </tr>
    </thead>
  <tbody>

{% set commandes = commandes|sort((a, b) => b.datecommande <=> a.datecommande) %}

  {% for commande in commandes %}
  
    <tr>
    <form method="post"  onsubmit="return confirmSubmit(event);">
      <td>{{commande.getId()}} <input type="text" name="id" value="{{commande.getId()}}" class="setInvisible"/></td>


    {% if commande.getFormuleId() is null %}
      <td><input type="text" name="formule_id" value="" style='width: 40px; background-color: yellow' required/></td>
    {% else %}
      {% if (commande.getStatut() == "EN COURS")  or  (commande.getStatut() == "ANNULÉ - REMBOURSEMENT") or  (commande.getStatut() == "EN LIVRAISON")  or  (commande.getStatut() == "TERMINÉ")%}
        <td>{{commande.getFormuleId()}}</td>
      {% else %}
        <td><input type="text" name='formule_id'  value="{{commande.getFormuleId()}}" style='width: 40px;' required></td>
      {% endif %}
    {% endif %}

      {% if commande.getPrix() is null %} 
        <td><input type="text" name="prix" value="" style='width: 40px; background-color: yellow;' required/></td>
      {% else %}
        <td><input type="text" name="prix" value="{{commande.getPrix()}}" style='width: 45px; font-size : 12px' required/></td>
      {% endif %}

      <td>{{commande.getStatut()}} <input type="text" name="statut" value="{{commande.getStatut()}}" style='width: 40px; font-size : 12px' class="setInvisible"/></td>

      <td>{{commande.getDateCommande()|date('Y-m-d H:i:s')}}</td>

        {% if commande.getCreneau() is null %}
            <td><input type="text" name='creneau' value="" style='background-color: yellow;width: 130px; font-size : 12px'  pattern="[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}:[0-9]{2}" required></td>
        {% else %}
            <td><input type="text" name='creneau'  style='width: 130px; font-size : 12px'   value="{{commande.getCreneau()|date('Y-m-d H:i:s')}}" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}:[0-9]{2}" required></td>
        {% endif %}

      <td>{{commande.getPreferenceCreneau()}}</td>

      {% if commande.getAdresseRdv() is null %}
        <td><input type='text' name="adresse_rdv"  value=""  style='background-color: yellow; width: 100px;'  required/></td>
      {% else %}
        <td><input type='text' name="adresse_rdv"  style='width: 150px; font-size : 12px; width: 100px;' value="{{commande.getAdresseRdv()}}"  required/></td>
      {% endif %}


      {% if commande.getLocalisationCommande() is null %}
        <td><input type='text' name="localisation_commande"  value=""  style='background-color: yellow;  font-size : 12px; width: 70px'  required/></td>
      {% else %}
        <td><input type='text' name="localisation_commande"  value="{{commande.getLocalisationCommande()}}"  style='font-size : 12px; width: 70px'  required/></td>
      {% endif %}

      {% if commande.getNbPhotosCommande() is null %}
        <td><input type='text' name="nb_photos_commande"  value=""  style='background-color: yellow;  font-size : 12px; width: 70px'  required/></td>
      {% else %}
        <td><input type='text' name="nb_photos_commande"  style='font-size : 12px; width: 70px' value="{{commande.getNbPhotosCommande()}}"  required/></td>
      {% endif %}

      {% if commande.getAideIntegrationCommande() is null %}
        <td><input type='text' name="aide_integration_commande"  value=""  style='background-color: yellow; width: 40px'  required/></td>
      {% else %}
        <td><input type='text' name="aide_integration_commande"  style='width: 40px' value="{{commande.getAideIntegrationCommande()}}"  required/></td>
      {% endif %}



      {% if commande.getDatePaiement() is null %}
            <td></td>
        {% else %}
            <td>{{commande.getDatePaiement()|date('Y-m-d H:i:s')}}</td>
        {% endif %}


      {% if commande.getDateOuverturePaiement() is null %}
            <td></td>
        {% else %}
            <td>{{commande.getDateOuverturePaiement()|date('Y-m-d H:i:s')}}</td>
        {% endif %}


      <td>
        {% if commande.getStatut() == "EN ATTENTE D'UN CRÉNEAU" %}
            <p>- Contacter client par {{commande.getPreferenceContact()}} <br>- Renseigner un créneau, un lieu de rdv et une formule</p>
        {% elseif commande.getStatut() == "EN ATTENTE DU PAIEMENT" %}
            <p>- Attente du paiement du client</p>
        {% elseif commande.getStatut() == "EN COURS" %}
            <p>- Réaliser la prestation</p>
        {% elseif commande.getStatut() == "EN LIVRAISON" %}
            <p>- Livrer le produit</p>
        {% elseif commande.getStatut() == "TERMINÉ" %}
            <p>- Fin de la commande</p>
        {% elseif commande.getStatut() == "EXPIRÉ" %}
            <p>- Le client n'a pas payé à temps</p>
        {% endif %}
      </td>

        {% if commande.getStatut() == "EN ATTENTE D'UN CRÉNEAU" %}
          <td><input type="submit" style="font-size: 12px;" value="Valider le creneau" formaction="{{ path('app_adminChoixCreneau')}}"/></td>
        {% elseif commande.getStatut() == "EN ATTENTE DU PAIEMENT" %}
          <td><input type="submit" style="font-size: 12px;" value="Modifier la commande"  formaction="{{ path('app_adminModifierCommande')}}" /></td>
        {% elseif commande.getStatut() == "EN COURS" %}
          <td><input type="submit" style="font-size: 12px;" style="font-size: 12px;" value="J'ai réalisé la prestation"  formaction="{{ path('app_adminPrestationRealise')}}"/>
          <input type="submit" style="font-size: 12px;" value="Notifier que le rdv est soon"  formaction="{{ path('app_rendezVousSoonMail')}}" />
          <input type="submit" style="font-size: 12px;" value="Modifier la commande"  formaction="{{ path('app_adminModifierCommande')}}" />
        <!-- <input type="submit" value="Déclancher remboursement"  formaction="{#{ path('app_adminSupprimerCommande')}#}" /></td>-->
        {% elseif commande.getStatut() == "EN LIVRAISON" %}
          <input type='hidden' name="idCommande" value="{{commande.id}}" />
          <input type='hidden' name="email" value="{{commande.getClientId().email}}" />

      
          <td><input type="submit" style="font-size: 12px;" value="J'ai livré la prestation"  formaction="{{ path('app_adminProduitLivre')}}" /></td>
        {% elseif commande.getStatut() == "TERMINÉ" %}
          <input type='hidden' name="idCommande" value="{{commande.id}}" />
          <input type='hidden' name="email" value="{{commande.getClientId().email}}" />
          {% if commande.getNote() is null  %}
            <td><input type="submit" style="font-size: 12px;" value="Demander un avis"  formaction="{{ path('app_demandeDeNoteeMail')}}" /></td>
          {% endif %}
        {% elseif commande.getStatut() == "EXPIRÉ" %}
        {% endif %}
    </form>
      <tr>
  {% endfor %}
</tbody>

</table>


<h3 style='font-weight: 500; font-size: 16px; margin-bottom: 4px'>Prochains RDV</h3>

<table class="dashBoard-table">
    <thead>
        <tr class="tr-dashBoard">
            <th>ID</th>
            <th>Nom</th>
            <th>Adresse du RDV</th>
            <th>Numéro de telephone</th>
            <th>Email</th>
            <th>Créneau</th>
            <th>Action</th>
        </tr>
    </thead>
  <tbody>

  {% for client in clients %}
    {% for commande in client.commandes %}
      {% if (commande.statut == "EN COURS") or (commande.statut == "EN LIVRAISON")%}
      <tr>
        <td>{{commande.id}}</td>
        <td>{{client.nom}}</td>
        <td>{{commande.adresseRdv}}</td>
        <td>{{client.numeroTelephone }}</td>
        <td>{{client.email }}</td>
        <td>{{commande.creneau|date('l j F à H:i')}}</td>

      <td>
        {% if (commande.statut == "EN COURS")%}
          A faire
        {% elseif (commande.statut == "EN LIVRAISON")%}
         A livrer
        {% endif %}
      <tr>
    {% endif %}
  {% endfor %}
{% endfor %}
</tbody>

</table>



<h3 style='font-weight: 500; font-size: 16px; margin-bottom: 4px'>Notes</h3>

<table class="dashBoard-table">
    <thead>
        <tr class="tr-dashBoard">
            <th>Note</th>
            <th>Commentaire</th>
            <th>Commande ID</th>
        </tr>
    </thead>
  <tbody>


{% for commande in commandes %}
  {% if commande.note is not null %}
    <tr>
      <td>{{commande.note.note}} / 5</td>
      <td>{{commande.note.commentaire}}</td>
      <td>{{commande.id}}</td>
    </tr>

  {% endif %}
{% endfor %}

</tbody>

</table>


<script>


function confirmSubmit(event) {
  var submitButton = event.submitter;
  var confirmationMessage = "Êtes-vous sûr de vouloir soumettre '" + submitButton.value + " ?";
  return confirm(confirmationMessage);
}


/*
  const input = document.getElementById('id-filter-input');
  input.addEventListener('input', function() {
    const inputValue = this.value;
    fetch(`/api/commandes?filter[id]=${inputValue}`)
      .then(response => response.json())
      .then(data => {
        const tbody = document.getElementById('commandes-table-body');
        tbody.innerHTML = '';
        data.forEach(commande => {
          const tr = document.createElement('tr');
          tr.innerHTML = `
            <td>${commande.id}</td>
            <td>${commande.formule_id}</td>
            <td>${commande.statut}</td>
          `;
          tbody.appendChild(tr);
        });
      })
      .catch(error => console.error(error));
  });*/
</script>


{% endblock %}