{% extends 'fragments/base.html.twig' %}

{% block title %}Accueil - Réalisation de visites virtuelles à 360° {% endblock %}

{% block body %}

<script src='https://www.google.com/recaptcha/api.js'></script>

<section class='body-background'>
    {% include 'fragments/navbar.html.twig' %}
<section class='section-content'>

    <div class='Partie-Exemples-1 background-grey-waves'>

        <div class="video-container">
            <div class="video-container-content">
                <img class="photo-david" src="https://www.cjoint.com/doc/24_03/NCDbs5crcUI_IMG-1950-removebg-preview.png" style="width: 370px;height: auto;margin-right: 110px; display:none"/>
                <div class="video-container-subcontent1">
                    <p></p>
                    <h1 id='LeTitre' class='video-container-content-titre'>Réalisation de visites virtuelles à 360°</h1>
                    <p class='video-container-content-text'>Offrez à vos clients une expérience unique qui les <br>transportera dans vos espaces, où qu'ils se trouvent.</p>
                    <div class="reserver-creneau">
                        <input onclick="smoothScroll('part-form')" type='button' value='Prendre rendez-vous' class='btn-skin1'/>
                         <form method='post' action="{{ path('nosTarifs') }}" style="width: min-content;">
                            <input type="submit" class='btn-skin2' value ="Nos tarifs"></input>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </section>

    <div class='part-element-container' style="background: white;">
    <div class='part-element'>
    
        <h2>Qu'est-ce qu'une visite virtuelle ?</h2>
        <div class='part-what-is '>
            <div style="margin-top: 10px">
                <p>Une visite virtuelle est une expérience interactive qui permet aux utilisateurs d'explorer un espace en utilisant des technologies numériques.
                    Elle recrée, grâce à des photos à 360°, une représentation visuelle d'un lieu, permettant aux utilisateurs de s'y déplacer librement.  
                </p>
            </div>
            <img class="img-asking" src="{{asset('img/icon-asking.png')}}" style="margin : 0 auto;width:135px; height:120px"/>
            <div  style="margin-top: 10px">
                <p>Cela peut être particulièrement utile pour explorer des destinations touristiques, des propriétés immobilières, des musées, des sites historiques, des campus universitaires, des hôtels, des commerces, des salles de sport, etc.  
                <br>Jetez un oeil à nos réalisations sur <a style="color: #219988; cursor: pointer; font-weight: 500;" href ='{{ path("nosRealisations")}}' >notre page dédiée</a></p>

            </div>
        
         </div>
    </div>
    </div>

    <div class='part-element background-grey-waves' id="div-iframe" style="width: 100%">
        <div class="visite-container">
            <iframe src="https://visite.lookaround.fr/18476801/?startscene=1&startlookat=-178.63,1.02,123.94,0.35,0;" scrolling="no" id="iframe-fullscreen" FRAMEBORDER="no" allowfullscreen></iframe>
        </div>
    </div>

     <div class='part-element-container' style="background: #313131;width: 100%;color: white;">
     <div class='part-element'>
        <h2>Qu'apporterait une visite virtuelle à mon site ?</h2>
        <div class='line-2' style="margin-top:20px; grid-gap: 7px">

        <div class="argument-card colored-argument" >
            <img src="{{asset('img/360-view.png')}}" class="argument-img">
            <div>
                <h3>Une réelle projection virtuelle</h3>
                <p>Immergez vos visiteurs dans une projection virtuelle, leur permettant d'explorer votre espace depuis leur domicile</p>
            </div>
        </div>

        <div class="argument-card colored-argument" >
            <img src="{{asset('img/24-hours.png')}}" class="argument-img">
            <div>
                <h3>Une accessibilité en continu</h3>
                <p>Attirez des potentiels clients à toute heure de la journée ou de la nuit, même en dehors de vos heures d'ouverture</p>
            </div>
        </div>

        <div class="argument-card colored-argument" >
            <img src="{{asset('img/competition(1).png')}}" class="argument-img">
            <div>
                <h3>Une différenciation concurrentielle</h3>
                <p>Démarquez vous de vos concurrents en offrant une expérience plus virtuelle et interactive à vos futurs clients</p>
            </div>
        </div>

        <div class="argument-card colored-argument" >
            <img src="{{asset('img/euro(1).png')}}" class="argument-img">
            <div>
                <h3>Une réduction des coûts de gestion des visites physiques</h3>
                <p>Maximisez votre temps et vos ressources, et de concentrer vos efforts sur d'autres aspects de votre entreprise</p>
            </div>
        </div>

        <div class="argument-card colored-argument" >
        <img src="{{asset('img/la-technologie.png')}}" class="argument-img">
        <div>
        <h3>Une présentation au gout du jour</h3>
            <p>Mettez en avant votre espace de manière plus attrayante et interactive, en captivant l'attention de vos visiteurs</p>
        </div>
        </div>

        <div class="argument-card colored-argument" >
        <img src="{{asset('img/communications.png')}}" class="argument-img">
        <div>
        <h3>Une facilité de partage</h3>
            <p>Vos visiteurs pourront facilement partager leur expérience avec leur entourage, ce qui va accroître votre visibilité.</p>
        </div>
        </div>
    </div>
    </div>
    </div>
<!--
style="background: url('https://www.cjoint.com/doc/24_03/NCCwqbeEgII_layered-waves-haikei-5-.png');background-size: auto;background-size: cover;color: white;"
-->
    <div class='part-element-container background-grey-waves'>
        <div class='part-element' >

            <h2>Comment se déroule une prise de vue ?</h2>
            <div class="line-2" style="grid-gap: 5px;">
                <div class="argument-card white-background"> <img class="argument-img" src='{{asset("img/telephone(1).png")}}' /><br> <div><h3>1- Premier contact</h3><p>Durant un appel, nous répondons à toutes vos questions, puis, nous convenons d'un RDV.</p></div></div>
                <div class="argument-card white-background"> <img class="argument-img" src='{{asset("img/camera(1).png")}}'/><br> <div><h3>2- Prise de vue</h3><p >Le jour J, nous effectuons les prises de vues dans vos espaces. Cela peut durer entre 20 et 45 minutes.</p></div></div>
                <div class="argument-card white-background"> <img class="argument-img" src='{{asset("img/computer.png")}}'/><br> <div><h3>3- Création de la visite</h3><p>Après le traitement et l'édition des photos, nous nous attelons à la création de la visite.</p></div></div>
                <div class="argument-card white-background"> <img class="argument-img" src='{{asset("img/paquet.png")}}'/><br> <div><h3>4- Livraison de la visite</h3><p>Nous vous envoyons les packages de votre visite, ainsi que l'url sur laquelle nous l'hébergeons.</p></div></div>
            </div>
        </div>
    </div>
     <div class='part-element'>
        <h2>Ils nous ont fait confiance</h2>
        
        <div class="line-4 partenaires-container">
            <img src="{{asset('img/clients/isifa.png')}}" class="partenaires-img" onclick="ouvrirNouvelOnglet('https://www.isifaplusvalues.com/')">
            <img src="{{asset('img/clients/ihecf.jpg')}}" class="partenaires-img" onclick="ouvrirNouvelOnglet('https://www.ihecf.fr/')">
            <img src="{{asset('img/clients/mbway.png')}}" class="partenaires-img" onclick="ouvrirNouvelOnglet('https://www.mbway.com/')">
            <img src="{{asset('img/clients/ipac.jpg')}}"  class="partenaires-img" onclick="ouvrirNouvelOnglet('https://www.ipacbachelorfactory.com/')">

        </div>
    </div>
    <div class="part-element-container background-grey-waves">
        <div class="part-element line-2 no-margin" style="padding:0">
        <!--
style="background: url('https://www.cjoint.com/doc/24_03/NCCwqbeEgII_layered-waves-haikei-5-.png');background-size: auto;background-size: cover;color: white;"
-->
            <div class="part-contact">
            
                <div class="contact-div">
                    <img src="{{ asset('img/telephone(1).png') }}" class="contact-img"/>
                    <p contenteditable="true" class="contact-phone-number">06 51 45 01 06</p>
                </div>
                    
                <div class="contact-div">
                    <img src="{{ asset('img/gmail.png') }}" class="contact-img" />
                    <p>contact@lookaround.fr</p>
                </div>

                <div class="contact-div">
                    <img src="{{ asset('img/linkedin.png') }}" class="contact-img clickable" onclick=" ouvrirNouvelOnglet('https://www.linkedin.com/company/lookaround®/about/')"/>
                    <p>lookaround®</p>
                </div>

            </div>

            <div id="part-form" class="part-form">
                <h3>Prendre rendez-vous</h3>
                <br>

                {{ form_start(demandeForm)}}
                {{ form_row(demandeForm.description) }}
                {{ form_row(demandeForm.email) }}
            
                <div class="g-recaptcha" data-callback="setCaptchaValide"  data-sitekey="6LffU4YpAAAAAIQvvsIfNNiejIpl3yI_tHLzIEuI"></div>

                <p class="text-error" id="text-error"></p>
                {{ form_end(demandeForm) }}
            </div>
        </div>
    </div>
</section>
    {% include 'fragments/footer.html.twig' %}
</section>


<script>    
    var isCaptchaValidated = false;

    var form = document.getElementById('demandeForm');
    var textError = document.getElementById('text-error');

    form.addEventListener('submit', function(event) {
        event.preventDefault();

        if (!isCaptchaValidated){
            textError.style.display = "block";
            textError.innerHTML = "Captcha incorrect"
        }
        else {
            textError.style.display = "none";
            form.submit()
        }
    })

    function setCaptchaValide(){
        isCaptchaValidated = true;
    }

    function ouvrirNouvelOnglet(url) {
        window.open(url, '_blank');
    }

    function smoothScroll(target) {
        var element = document.getElementById(target);
        var rect = element.getBoundingClientRect();
        var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
        var start = scrollTop;
        var end = rect.top + scrollTop;
        var duration = 800; // Durée de l'animation en millisecondes
        var clock = Date.now();
        
        var requestAnimationFrame = window.requestAnimationFrame ||
                                        window.mozRequestAnimationFrame ||
                                        window.webkitRequestAnimationFrame ||
                                        function(fn){window.setTimeout(fn, 15)};
                                        
        function step() {
            var elapsed = Date.now() - clock;
            var position = null;
            if (elapsed > duration) {
                position = end;
            } 
            else {
                position = start + (end - start) * easeInOutQuad(elapsed / duration);
                requestAnimationFrame(step);
            }
            window.scrollTo(0, position);
        }
        
        function easeInOutQuad(t) {
            return t<0.5 ? 2*t*t : -1+(4-2*t)*t;
        }
        requestAnimationFrame(step);
    }
</script>


    {% for flash_message in app.session.flashbag.get('smoothScroll') %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                smoothScroll('part-form')
            });
        </script>
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('smoothScroll2') %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                smoothScroll('div-aide')
            });
        </script>
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('success') %}
        <script>
            tata.success("", "{{ flash_message }}", {
                duration: 3000,
                closeBtn: false,
                animate: "slide",    
            });
        </script>
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('failed') %}
        <script>
            tata.error("", "{{ flash_message }}", {
                duration: 3000,
                closeBtn: false,
                animate: "slide",       
            });
        </script>
    {% endfor %}


<script>
    var screenWidth = window.innerWidth;
</script>


{% endblock %}
