{% extends 'base.html.twig' %}

{% block title %}Accueil - Réalisation de visites virtuelles à 360° {% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css">
<link rel="icon" type="image/png" href="{{ asset('img/inoca.png') }}">
<script src='https://www.google.com/recaptcha/api.js'></script>

{% endblock %}

{% block body %}

<script src="{{ asset('js/tata.js') }}"></script>



<section class='Body-Section-White'>
    {% include 'tools/navbar.html.twig' %}
<section class='Cadre'>

<div id="user-status" data-is-connected="{{ app.user is not null }}"></div>

    <div class='Partie-Exemples-1'>
        <div class="video-container">

            <video autoplay muted loop playsinline webkit-playsinline id="video-element">
                <source type="video/mp4" src="{{ asset ('videos/test-video-set.mp4')}}"  />
            </video>

            <div class="video-container-content">
                <div class="video-container-subcontent1">
                    <h1></h1>
                    <h1 id='LeTitre' class='video-container-content-titre'>Réalisation de visites virtuelles à 360°</h1>
                    <h2 class='video-container-content-text'>Offrez à vos clients une expérience unique qui les transportera directement dans vos espaces, où qu'ils se trouvent. Il s'agit de l'outil idéal pour promouvoir votre entreprise et générer des conversions.</h2>
                    <div class="reserver-creneau">
                        <input onclick="smoothScroll('Partie-Exemples-4')" type='button' value='Prendre rendez-vous' class='reserver-creneau-btn1'/>
                         <form method='post' action="{{ path('app_tarifs') }}" style="width: min-content;">
                            <input type="submit" class='reserver-creneau-btn2' value ="Nos tarifs"></input>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class='Partie-Exemples-5'>
       <h3>Qu'est-ce qu'une visite virtuelle ?</h3>

          <p class="align-center-vertically" style="background-color: #ffffff8f;">Une visite virtuelle est une expérience interactive qui permet aux utilisateurs de parcourir et d'explorer un espace en utilisant des technologies numériques. 
            Elle recrée, grâce à des photos à 360°, une représentation visuelle d'un lieu, permettant aux utilisateurs de s'y déplacer librement et de regarder autour d'eux dans toutes les directions à l'aide d'un ordinateur ou d'un smartphone, sans avoir à s'y rendre physiquement.  
        </p>

        <p class="align-center-vertically" style="background-color: #ffffff8f;">Cela peut être particulièrement utile pour explorer des destinations touristiques, des propriétés immobilières, des musées, des sites historiques, des campus universitaires, des hôtels, des commerces, des salles de sport, etc.  
        </p>

        <p>Jetez un oeil à nos réalisations sur <a style="color: #219988; cursor: pointer; background-color: white;" href ='{{ path("app_realisations")}}' >notre page dédiée</a></p>
    </div>

    <div class='Partie-Exemples-5'>
        <div id="visite-containe" class="visite-container" style="text-align: center">
            <iframe src="https://visite.lookaround.fr/18476801/?startscene=1&startlookat=-178.63,1.02,123.94,0.35,0;" scrolling="no" id="iframe-fullscreen" FRAMEBORDER="no" style="box-shadow: 0 1px 1px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.12),0 4px 4px rgba(0,0,0,.12),0 8px 8px rgba(0,0,0,.12),0 16px 16px rgba(0,0,0,.12);" allowfullscreen></iframe>
        </div>
    </div>

     <div class='Partie-Exemples-5'>
        <h3>Qu'apporterais une visite virtuelle à mon site ?</h3>
        <div class='line-3'  style="margin-top:20px">

        <div class="argument-card">
        <img src="{{asset('img/360-view.png')}}" class="argument-img">
        <h3>Une réelle projection virtuelle</h3>
            <p>Immergez vos visiteurs dans une projection virtuelle, leur permettant d'explorer votre espace depuis le confort de leur domicile
            </p>
        </div>

        <div class="argument-card">
            <img src="{{asset('img/24-hours.png')}}" class="argument-img">
        <h3>Une accessibilité en continu</h3>
        <p>Attirez des potentiels clients à toute heure de la journée ou de la nuit, même en dehors de vos heures d'ouverture
        </p>
        </div>

        <div class="argument-card">
            <img src="{{asset('img/competition(1).png')}}" class="argument-img">
        <h3>Une différenciation concurrentielle</h3>
        <p>Démarquez vous de vos concurrents en offrant une expérience plus virtuelle et interactive à vos futurs clients
        </p>
        </div>

        <div class="argument-card">
        <img src="{{asset('img/euro(1).png')}}" class="argument-img">
        <h3>Une réduction des coûts de gestion des visites physiques</h3>
            <p>Maximisez votre temps et vos ressources, et de concentrer vos efforts sur d'autres aspects de votre entreprise
            </p>
        </div>

        <div class="argument-card">
        <img src="{{asset('img/la-technologie.png')}}" class="argument-img">
        <h3>Une présentation au gout du jour</h3>
            <p>Mettez en avant votre espace de manière plus attrayante et interactive, en captivant l'attention de vos visiteurs
            </p>
        </div>

        <div class="argument-card">
        <img src="{{asset('img/communications.png')}}" class="argument-img">
        <h3>Une facilité de partage</h3>
            <p>Vos visiteurs pourront facilement partager leur expérience avec leur entourage, ce qui peut générer du bouche-à-oreille et accroître votre visibilité.
            </p>
        </div>
    </div>
    </div>

     <div class='Partie-Exemples-5'>
        <h3>Ils nous ont fait confiance</h3>
        <div class="line-4" style="width: 75%; padding: 20px;margin: 0 auto;">
            <img src="{{asset('img/clients/isifa.png')}}" class="partenaires-img" onclick="ouvrirNouvelOnglet('https://www.isifaplusvalues.com/')">
            <img src="{{asset('img/clients/ihecf.jpg')}}" class="partenaires-img" onclick="ouvrirNouvelOnglet('https://www.ihecf.fr/')">
            <img src="{{asset('img/clients/mbway.png')}}" class="partenaires-img" onclick="ouvrirNouvelOnglet('https://www.mbway.com/')">
            <img src="{{asset('img/clients/ipac.jpg')}}" class="partenaires-img" onclick="ouvrirNouvelOnglet('https://www.ipacbachelorfactory.com/')">
        </div>
    </div>

<div class='Partie-Exemples-5'>

    <h3>Comment se déroule une prise de vue <span>look<span style="font-weight : 500; color: #219988;">around®</span></span> ?</h3>
    <br>
    <div class="line-4">
        <div class="argument-card"> <img class="argument-img" src='{{asset("img/telephone(1).png")}}' /><br> <h3>1- Premier contact</h3><p>Durant un appel, nous répondons à toutes vos questions, puis, nous convenons d'un RDV.</p></div>
        <div class="argument-card"> <img class="argument-img" src='{{asset("img/camera(1).png")}}'/><br> <h3>2- Prise de vue</h3><p >Le jour J, nous effectuons les prises de vues dans vos espaces. Cela peut durer entre 20 et 45 minutes.</p></div>
        <div class="argument-card"> <img class="argument-img" src='{{asset("img/computer.png")}}'/><br> <h3>3- Création de la visite</h3><p>Après le traitement et l'édition des photos, nous nous attelons à la création de la visite.</p></div>
        <div class="argument-card"> <img class="argument-img" src='{{asset("img/paquet.png")}}'/><br> <h3>4- Livraison de la visite</h3><p>Nous vous envoyons les packages de votre visite, ainsi que l'url sur laquelle nous l'hébergeons.</p></div>
    </div>
</div>


    <div class="line-2">

        <div style="position: relative;">
            <br>
          <!--  <h1 onclick="goWelcome.submit()" class="logo-LA">look<span style="font-weight : 500; color: #219988;">around®</span></h1> -->
                <div style="position: relative; width: 100%; height: 100%;">
                <div class="block-contact-sheet">
                    <div class="line-contact-sheet">

                        <div class="contact-div">
                            <img src="{{ asset('img/telephone(1).png') }}" class="middleinDiv"/>
                            <p contenteditable="true" style="cursor: default; text-decoration: none!important; color: black !important;">06 51 45 01 06</p>
                        </div>
                      
                        <div class="contact-div">
                                <img src="{{ asset('img/gmail.png') }}" class="middleinDiv"/>
                                <p>contact@lookaround.fr</p>
                        </div>
                        </div>

                        <div class="line-contact-sheet"   style='display:none'>
                          <div class="contact-div">
                                <img src="{{ asset('img/office.png') }}" class="middleinDiv"/>
                                <p>N°892 074 774 00019</p>
                        </div>
                        
                        <div class="contact-div">
                                <img src="{{ asset('img/linkedin.png') }}" class="middleinDiv"/>
                                <p>lookaround</p>
                        </div>

                    </div>
                </div>
                </div>
        </div>



  <div id="Partie-Exemples-4" class="Partie-Exemples-4" style="border-left: 1px solid #8282821c;">
        <h2 class="titre2">Prendre rendez-vous</h2>

        {{ form_start(registrationForm) }} 
    <br>
        <div class="line-1">
            {{ form_row(registrationForm.nom)}}
        </div>
    <br>
        <div class="line-2">
            {{ form_row(registrationForm.email)}}
            {{ form_row(registrationForm.numero_telephone)}}
        </div>
    <br>    
            {{ form_row(registrationForm.preference_creneau)}}
    <br>
    <div class="line-2-3" style=" display:none">
            <p style="font-size : 14px;">Préference de contact :</p>
            {{ form_row(registrationForm.preference_contact)}}
        </div>


        <div class="wrapper">
            <div class="g-recaptcha" data-callback="setCaptchaValide"  data-sitekey="6LffU4YpAAAAAIQvvsIfNNiejIpl3yI_tHLzIEuI"></div>
        </div>

            <p class="text-error" id="text-error"></p>

             <br> 
   
            <button type="button" id='go-submit-form' class="reserver-creneau-btn1">Valider</button>
                
            {{ form_end(registrationForm) }}
    </div>
 </div>


<div style="display: none">
    <div id="notes"></div>
    <div id="commentaires"></div>
    <div id="prenoms"></div>
</div>
</section>
    {% include 'tools/footer.html.twig' %}
</section>


<script>    

    var isCaptchaValidated = false;

    const userStatusElement = document.getElementById('user-status');
    const isConnected = userStatusElement.dataset.isConnected;

        var myForm = document.forms.registration_form;
        var btnValidForm = document.getElementById("go-submit-form");

        var formNom = myForm.querySelector('input[name="registration_form[nom]"]');
        var formEmail = myForm.querySelector('input[name="registration_form[email]"]');

        var formNumero = myForm.querySelector('input[name="registration_form[numero_telephone]"]');

        var formPrefCreneau = myForm.querySelector('textarea[name="registration_form[preference_creneau]"]')

        btnValidForm.addEventListener('click', onClickHandler);

        const textError = document.getElementById('text-error');
        textError.style.display = "block";


        function setCaptchaValide(){
            isCaptchaValidated = true;
        }

        async function onClickHandler() {
            
        //const emailList = await getMailList();

            if (formNom.value.length < 3)
                textError.innerHTML = "Le nom choisi est trop court"

            else if (!validateEmail(formEmail.value))
                textError.innerHTML = "Adresse mail incorrecte"
            
            else if (formNumero.value.length !== 14)
                textError.innerHTML = "Numéro de téléphone incorrect"

            else if (formPrefCreneau.value.length < 3)
                textError.innerHTML = "Description trop courte"

            else if (!isCaptchaValidated) {
                textError.innerHTML = "Captcha incorrect"
            }

            else {
                textError.style.display = "none";
                myForm.submit()
            }
        }

    //}

function validateEmail(email) {
  const re = /\S+@\S+\.\S+/;
  return re.test(email);
}

document.addEventListener('DOMContentLoaded', function() {
    var elements = document.querySelectorAll('.pnlm-about-msg');
    for (var i = 0; i < elements.length; i++) {
    elements[i].parentElement.removeChild(elements[i]);
    }
})

    function formatPhone() {

        var input = document.getElementById('registration_form_numero_telephone');
        var value = input.value.replace(/\D/g, ''); // ne garder que les chiffres

        var v = value.replace(/\s+/g, "").replace(/[^0-9]/gi, "");
        var matches = v.match(/\d{2,16}/g);
        var match = (matches && matches[0]) || "";
        var parts = [];

            for (i = 0, len = match.length; i < len; i += 2)
                parts.push(match.substring(i, i + 2));

            if (parts.length) 
                input.value = parts.join(" ");
            else 
                input.value = value;
    }



    function displayToast (erreur, conseil) {
        tata.text(erreur, conseil, {
            duration: 3000,
            closeBtn: false,
            animate: "slide",    
        });
    }

</script>



<script>

 function ouvrirNouvelOnglet(url) {
    window.open(url, '_blank');
  }

    function smoothScroll(target) {
        var element = document.getElementById(target);
        var rect = element.getBoundingClientRect();
        var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
        var start = scrollTop;
        var end = rect.top + scrollTop;
        var duration = 800; // Durée de l'animation en millisecondes
        var clock = Date.now();
        
        var requestAnimationFrame = window.requestAnimationFrame ||
                                        window.mozRequestAnimationFrame ||
                                        window.webkitRequestAnimationFrame ||
                                        function(fn){window.setTimeout(fn, 15)};
                                        
        function step() {
            var elapsed = Date.now() - clock;
            var position = null;
            if (elapsed > duration) {
            position = end;
            } else {
            position = start + (end - start) * easeInOutQuad(elapsed / duration);
            requestAnimationFrame(step);
            }
            window.scrollTo(0, position);
        }
        
        function easeInOutQuad(t) {
            return t<0.5 ? 2*t*t : -1+(4-2*t)*t;
        }
        
        requestAnimationFrame(step);
    }

</script>

    {% for flash_message in app.session.flashbag.get('smoothScroll') %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                smoothScroll('Partie-Exemples-4')
            });
        </script>
    {% endfor %}


    {% for flash_message in app.session.flashbag.get('smoothScroll2') %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                smoothScroll('div-aide')
            });
        </script>
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('success') %}
        <script>
            tata.success("", "{{ flash_message }}", {
                duration: 3000,
                closeBtn: false,
                animate: "slide",    
            });
        </script>
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('failed') %}
        <script>
            tata.error("", "{{ flash_message }}", {
                duration: 3000,
                closeBtn: false,
                animate: "slide",       
            });
        </script>
    {% endfor %}


<script>
    var screenWidth = window.innerWidth;
</script>


{% endblock %}
