{% extends 'base.html.twig' %}

{% block title %} Nos réalisations - Réalisation de visites virtuelles à 360° {% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/style.css') }}">
<link rel="icon" type="image/png" href="{{ asset('img/inoca.png') }}">
<link rel="stylesheet" href="https://cdn.pannellum.org/2.5/pannellum.css"/>
<script type="text/javascript" src="https://cdn.pannellum.org/2.5/pannellum.js"></script>

<link href="https://vjs.zencdn.net/7.1.0/video-js.css" rel="stylesheet" type="text/css">
<script src="https://vjs.zencdn.net/7.1.0/video.js"></script>

{% endblock %}

{% block body %}

<script src="{{ asset('js/tata.js') }}"></script>


    {% for flash_message in app.session.flashbag.get('success') %}
        <script>
            tata.success("", "{{ flash_message }}", {
                duration: 3000,
                closeBtn: false,
                animate: "slide",    
            });
        </script>
    {% endfor %}


    {% for flash_message in app.session.flashbag.get('failed') %}
        <script>
            tata.error("", "{{ flash_message }}", {
                duration: 3000,
                closeBtn: false,
                animate: "slide",       
            });
        </script>
    {% endfor %}



 
<section class='Body-Section-White'>

    {% include 'tools/navbar.html.twig' %}

    <section class='Cadre'>
        <div class='Partie-Exemples-5'>
            <h1 class="h1-titre-page">Découvrez nos visites virtuelles précédemment réalisées</h1>
            <div class="visite-container-realisation" style="text-align: center; margin-top: 20px;">
                
                <div class="line-exemple-real">
                    <div class="image" onclick="window.open('https://visite.lookaround.fr/18476801/?startscene=0&startlookat=-0.25,1.02,123.94,0.35,0;', '_blank');" style="border-radius: 0px;overflow: hidden;">
                        <iframe class="image__img" src="https://visite.lookaround.fr/18476801/?startscene=0&startlookat=2.33,-0.74,138.05,0.35,0;" scrolling="no" height="100%" frameborder="0" allowfullscreen></iframe>
                        
                        <div class="image__overlay image__overlay--primary">
                            <div class="image__title" style="font-size: 20px;">Isifa Plus Values</div>
                            <p class="image__description"  style="font-size: 14.5px !important;">
                                3 Rue Vaudetard<br>92130 Issy-les-Moulineaux
                            </p>
                        </div>
                    </div>

                    <div class="image" onclick="window.open('https://visite.lookaround.fr/18476803/?startscene=0&startlookat=-151.02,-4.19,123.94,0.35,0;', '_blank');" style="border-radius: 0px;overflow: hidden;">
                        <iframe class="image__img" src="https://visite.lookaround.fr/18476803/?startscene=0&startlookat=-150.37,-6.29,138.05,0.35,0;" scrolling="no" height="100%" frameborder="0" allowfullscreen></iframe>
                        
                        <div class="image__overlay image__overlay--primary">
                            <div class="image__title" style="font-size: 20px;">IHECF Paris</div>
                            <p class="image__description"  style="font-size: 14.5px !important;">
                                9 rue Saint-Lambert<br>75015 Paris 
                            </p>
                        </div>
                    </div>
                </div>
        </div>
    </div>

</section>
    {% include 'tools/footer.html.twig' %}
</section>




{% endblock %}