{% extends 'base.html.twig' %}

{% block title %} Trouver une visite - Réalisation de visites virtuelles à 360° {% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/style.css') }}">
<link rel="icon" type="image/png" href="{{ asset('img/inoca.png') }}">
<script src="{{ asset('js/tata.js') }}"></script>

{% endblock %}

{% block body %}

{% set listKeys = {} %}

{% if  photos is defined %}
    {% for key, value in photos %}
        {% set listKeys = listKeys|merge({(key): value}) %}
    {% endfor %}
{% endif %}



<section class='Body-Section-White'>

{% include 'tools/navbar.html.twig' %}

<section class='Cadre'>

<div class='Partie-Exemples-5'>

<h1 class="h1-titre-page">Recherchez une visite à l'aide d'un numéro de référence</h1>

<br><br>

 <div style="text-align: center; margin-top: 75px; margin-bottom: 120px">
    <input class="gros-input" type="text" id="id" name="id" value="" minLength="8" maxlength="8" placeholder="Entrez votre numéro de référence"/><br>
    <input type="button" value="Trouver une visite" id="go-visite" onclick="getVisitesListe(inputId.value)" class="reserver-creneau-btn3"  style="width: 200px; opacity: 0.55; pointer-events: none;"/>
</div>


{% if photos is not defined %}
    {% if info is defined %}
        <p>{{info}}</p>
    {% endif %} 

{% else %}


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.css"/>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.js"></script>

<div id="panorama"></div>

<script>
    var photos = {{ photos|json_encode|raw }};
    /*console.log(photos['Salon'])*/

    var panoramaParams = ({{ jsonSample|json_encode|raw }})
   /* console.log(panoramaParams)*/

    for (var key in photos) {
        var remplacement = "{photos." + key + "}";
       /* console.log(remplacement)*/
        panoramaParams = panoramaParams.replace('{' + remplacement + '}', photos[key])   
    }
    
    pannellum.viewer('panorama', JSON.parse(panoramaParams));



</script>

</div>


{% endif %}




<script>

    var visiteBtn = document.getElementById('go-visite');
    var inputId = document.getElementById('id');

    gestionOpacityBtnVisite()

    function gestionOpacityBtnVisite(){
        if (inputId.value.length == 8 ){
            visiteBtn.style.opacity = "1";
            visiteBtn.style.pointerEvents = "all";
        }
        else {
            visiteBtn.style.opacity = "0.55";
            visiteBtn.style.pointerEvents = "none";
        }
    }
    
    inputId.addEventListener('input', function(event) {
        inputId.value = inputId.value.replace(/\D/g, '');
        gestionOpacityBtnVisite()
    });

    inputId.addEventListener("keydown", function(event) {
        if (event.key === "Enter" && inputId.value.length == 8) {
            getVisitesListe(inputId.value)
        }
    });


    async function getVisitesListe(id) {

            var url = "https://visite.lookaround.fr/" + id;

            const response = await fetch('/isVisiteExiste', {
                method: 'POST',
                body: JSON.stringify({ id: id }) 
            });
            const data = await response.json()

            if (data.Accesible)
                window.open(url, '_blank');
            else {
                tata.error("", "Visite inexistante ou introuvable", {
                    duration: 3000,
                    closeBtn: false,
                    animate: "slide",       
                });
            }
    }

</script>


</section>

 {% include 'tools/footer.html.twig' %}

</section>

{% endblock %}
