
 <div class="navbar0">
   <div class="navbar0-container"> 
        <a>FR</a>
        <a href="{{ path('app_index_scroll') }}">Contact</a>
   </div>
</div>

 <div class="navbar">
    <form method='post' id="form-goTo-welcome" action="{{ path('index') }}">
        <h1 onclick="goWelcome.submit()" class="logo-LA">look<span style="font-weight : 500; color: #219988;">around®</span></h1>
    <!--    <img class="biglogo" src='{{asset("img/biglogo.png")}}' /> -->
    </form>    
</div>


 <div class="navbar2">
    <div class="navbar2-container">

        <a href="{{ path('app_quisommesnous') }}">Qui sommes-nous ?</a>

        <a href="{{ path('app_realisations') }}">Nos réalisations</a>

        <a href="{{ path('app_tarifs') }}">Nos tarifs</a>

        <a href="{{ path('pageVues') }}"> Trouver une visite</a>


    </div>
</div>


 <div class="navbar3">
    <div class="navbar3-container">
        <div style="display: flex; margin: 0 auto;">
            <img src="{{asset('img/camera(1).png')}}" class="icon-trois-protein"/>
            <a>Une qualité visuelle d'une grande finesse</a>
        </div>

        <div style="display: flex; margin: 0 auto;">
            <img src="{{asset('img/marque-de-localisation.png')}}" class="icon-trois-protein"/>
            <a>France métropolitaine, Belgique et Genève</a>
        </div> 

        <div style="display: flex; margin: 0 auto;">
            <img src="{{asset('../img/paquet.png')}}" class="icon-trois-protein"/>
            <a>Livraison dans les 48h après les prises de vue</a>
        </div>
    </div>
</div>


<script>

    var modal = document.getElementById("myModal");
    var modalCompte = document.getElementById("myModalCompte");
    var goWelcome = document.getElementById("form-goTo-welcome");
    

    var FormGoToRealisations = document.getElementById("form-goTo-app_realisations");
    var FormGoToTarifs = document.getElementById("form-goTo-app_tarifs");


    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
        if (event.target == modalCompte) {
            modalCompte.style.display = "none";
        }
    } 



</script>